#flag { 
  position: absolute; 
  width: 100%; 
  left: 0; 
  top: 0; 
  height: 80px; 
  background: #880000; 
  z-index: 3;
}

#borde_inf {
  position: absolute;
  width: 100%;
  left: 0;
  top: 80px;
  height: 10px; 
  background: #AA1100; 
  border-top: 1px solid #000; 
  border-bottom: 1px solid #000; 

}

/*
body>div#flag, body>div#flag { 
  position: fixed; 
}
*/

#contenido {
  position: absolute;
  top: 100px;
}


body { 
  background-color: white; 
  font-size: 100%; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
  color: black; 
}

H1 { 
  font-size: 140%; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
  color: white; 
  background-color: #880000;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

H2 { 
  font-size: 120%;
  font-weight: bold; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
}

H3 { 
  font-size: 100%;
  font-weight: bold; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
}


.letra { 
  font-size: 120%; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
  color: #AA0000 
}

a { 
  color: #AA0000;
  border-bottom: 1px dotted #708090;
  text-decoration: none;
}

a:visited { 
  color: #773333;
}

a:hover {
  background-color: #FFE08C;
}

#publicidad {
  border-bottom: 0px solid #708090;
}

td { 
  font-size: 100%; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
}

ul {
  list-style: square;
}

.cambios {
  border-left: solid 1pt #990000;
  border-right: solid 1pt #990000; 
  border-top: solid 1pt #990000; 
  vertical-align: text-top;
  padding: 0.5em 1em 0.5em 0.3em;
}

.titulo_cambios {
  border-left: solid 1pt #990000;
  border-right: solid 1pt #990000; 
  border-top: solid 1pt #990000; 
  vertical-align: text-top;
  padding: 0.5em 1em 0.5em 0.3em;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #990000;
}

.menu_cancion {
  border-top: solid 1pt #990000;
  border-bottom: solid 1pt #990000;
  padding: 0em 1em 0em 1em;
  text-align: center;
}

pre {
  font-size: 90%;
}

#link_cancion {
  border-bottom: 0px solid #708090;
}

#selector_estilos {
	text-align: center;
}