body { 
  background-color: white; 
  font-size: 100%; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
  color: black; 
}

H1 { 
  font-size: 140%; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
  color: #880000;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-top: dotted 2pt #880000;
  border-left: dotted 2pt #880000;
}

H2 { 
  font-size: 120%;
  font-weight: bold; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
/*  border-top: dotted 1pt #880000;
  border-left: dotted 1pt #880000;
  padding: 0.5em 0.5em 0.5em 0.5em;
*/
}

H3 { 
  font-size: 100%;
  font-weight: bold; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
}


.letra { 
  font-size: 120%; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
  color: #AA0000;
}

a { 
  color: #AA0000;
  border-bottom: 1px dotted #708090;
  text-decoration: none;
}

a:visited { 
  color: #994444;
}

a:hover {
  background-color: #FFE08C;
}

#publicidad {
  border-bottom: 0px solid #708090;
}

td { 
  font-size: 100%; 
  font-family: verdana, ms sans serif, Arial, Helvetica; 
}

#link_cancion {
  border-bottom: 0px solid #708090;
}

ul {
  list-style: square;
  color: black;
}

li {
  padding: 1pt;
    color: black;
}

.cambios {
  border-left: dashed 1pt #990000;
  border-right: dashed 1pt #990000; 
  border-top: dashed 1pt #990000; 
  vertical-align: text-top;
  padding: 0.5em 1em 0.5em 0.3em;
  font-size: 90%;
}

.titulo_cambios {
  border-left: dashed 1pt #990000;
  border-right: dashed 1pt #990000; 
  border-top: dashed 1pt #990000; 
  vertical-align: text-top;
  padding: 0.5em 1em 0.5em 0.3em;
  text-align: center;
  font-weight: bold;
}

.menu_cancion {
  border-top: dashed 1pt #990000;
  border-bottom: dashed 1pt #990000;
  padding: 0em 1em 0em 1em;
  color: black;
}

pre {
  font-size: 90%;
}

#selector_estilos {
	text-align: center;
}